.Hero_page01{
    height: 600px;
    width: 100%;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/020/681/885/small_2x/online-banking-and-financial-management-networks-online-human-hand-using-online-banking-application-on-mobile-concept-of-online-payment-with-encrypted-security-to-access-transaction-data-photo.jpg);
    background-repeat: no-repeat; background-size: cover; background-position: center;
    overflow: hidden; position: relative; transition: transform 0.3s, box-shadow 0.3s; 
}